In [1]:
import pandas as pd

In [2]:
sr=pd.Series([7500,3800,4000,4900,5100],
            index=['리얼비프버거','싸이버거','딥치즈버거','인크레더블버거','언비리버블버거'])
print(sr)
#1차원 배열

리얼비프버거     7500
싸이버거       3800
딥치즈버거      4000
인크레더블버거    4900
언비리버블버거    5100
dtype: int64

In [3]:
values=[[1,2,3],[4,5,6],[7,8,9]]#값
index=['One','Two','Three']#인덱스
columns=['a','b','c']#열
df=pd.DataFrame(values,index=index,columns=columns)#2차원 리스트

In [4]:
print(df)

       a  b  c
One    1  2  3
Two    4  5  6
Three  7  8  9

In [5]:
data=[
    ['20161533','안시흥',90.1],
    ['20151542','고창원',58.5],
    ['20201115','장범선',72.4],
]
df=pd.DataFrame(data,columns=['학번','이름','점수'])
print(df)
print(df.tail(2))
print(df['점수'])

         학번   이름    점수
0  20161533  안시흥  90.1
1  20151542  고창원  58.5
2  20201115  장범선  72.4
         학번   이름    점수
1  20151542  고창원  58.5
2  20201115  장범선  72.4
0    90.1
1    58.5
2    72.4
Name: 점수, dtype: float64

In [6]:
print(df.head(3))

         학번   이름    점수
0  20161533  안시흥  90.1
1  20151542  고창원  58.5
2  20201115  장범선  72.4

In [7]:
travel=pd.read_csv('sample_csv.csv',engine='python')

In [12]:
travel

,업종,상호,소재지도로명주소,전화번호,데이터기준일자
0,국내여행업,(주)뉴동명관광,충청남도 천안시 동남구 유량로 182,041-556-4902,2020-12-09
1,국내여행업,(주)뉴재승관광여행사,"충청남도 천안시 동남구 목천읍 종합휴양지4길 2, 2층 201호",041-906-9000,2020-12-09
2,국내여행업,(주)엘리트관광,충청남도 천안시 동남구 광덕면 차령고개로 468,041-576-4517,2020-12-09
3,국내여행업,(주)은성관광,"충청남도 천안시 서북구 두정상가1길 5, 새아스빌 202-1호",041-834-1190,2020-12-09
4,국내여행업,(주)하늘안관광,충청남도 천안시 동남구 신방남부길 87,041-553-5555,2020-12-09
...,...,...,...,...,...
94,국외여행업,(주)팜투어천안여행사,"충청남도 천안시 서북구 서부대로 426, 2층",NaN,2020-12-09
95,"국내여행업, 국외여행업",(주)월드머니,"충청남도 천안시 동남구 공설시장3길 3, 1층",NaN,2020-12-09
96,국외여행업,JR TOUR,"충청남도 천안시 서북구 성환읍 성환1로 117, 777빌딩 402호",NaN,2020-12-09
97,"국내여행업, 국외여행업",(주)다온여행사,"충청남도 천안시 동남구 신촌4로 42, 신방현대프라자 4층 414호",NaN,2020-12-09
98,"국내여행업, 국외여행업",(주)땅콩투어,충청남도 천안시 동남구 북면 충절로 1457,070-4408-1311,2020-12-09